/*
 * Typo
 */
.n() {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
.b() {
	font-weight: bold;
}
.i() {
	font-style: italic;
}
.u() {
	text-decoration: underline;
}
.capitalize() {
	text-transform: capitalize;
}
.uppercase() {
	text-transform: uppercase;
}
.lowercase() {
	text-transform: lowercase;
}
.align(@align: left) {
	text-align: @align;
}




/*
 * Container types
 */
.block() {
	display: block;
}
.inline() {
	display: inline;
}
.inline-block() {
	display: inline-block;
}
.none() {
	display: none;
}
.over(@how: auto) {
	overflow: @how;
}




/*
 * Floats
 */
.fl(@dir: none) {
	float: @dir;
}
.cl(@dir: both) {
	clear: @dir;
}
.clear() {
	zoom: 1;
	&:after {
		.cl();
		.block;
		display: block;
		content: "";
		zoom: 1;
		height: 0;
		line-height: 0;
	}
}




/*
 * Positioning
 */
.pos(@top: none, @bottom: none, @left: none, @right: none) {
	top: @top;
	bottom: @bottom;
	left: @left;
	right: @right;
}
.pos-x-center(@width: 200px) {
	left: 50%;
	margin-left: -@width/2;
}
.pos-y-center(@height: 200px) {
	top: 50%;
	margin-top: -@height/2;
}
.pos-center() {
	margin-left: auto;
	margin-right: auto;
}
.rel(@top: none, @bottom: none, @left: none, @right: none) {
	position: relative;
	.pos(@top, @bottom, @left, @right);
}
.fix(@top: none, @bottom: none, @left: none, @right: none) {
	position: fixed;
	.pos(@top, @bottom, @left, @right);
}
.abs(@top: none, @bottom: none, @left: none, @right: none) {
	position: absolute;
	.pos(@top, @bottom, @left, @right);
}
.z(@index: 1) {
	z-index: @index;
}




/*
 * Dimensions
 */
.size(@height: auto, @width: auto) {
	height: @height;
	width: @width;
}
.square(@size: auto) {
	.size(@size, @size);
}
.min-size(@height: auto,@width: auto) {
	min-height: @height;
	min-width: @width;
}
.max-size(@height: auto, @width: auto) {
	max-height: @height;
	max-width: @width;
}
.margin(@top, @right, @bottom, @left) {
	margin-top: @top;
	margin-right: @right;
	margin-bottom: @bottom;
	margin-left: @left;
}
.padding(@top, @right, @bottom, @left) {
	padding-top: @top;
	padding-right: @right;
	padding-bottom: @bottom;
	padding-left: @left;
}




/*
 * Shortcuts
 */
// border radius
.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

// drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}

// transitions
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

// background clipping
.background-clip(@clip) {
	-webkit-background-clip: @clip;
	-moz-background-clip: @clip;
	background-clip: @clip;
}

// CSS3 Content Columns
.content-columns(@columnCount, @columnGap: 20px) {
	-webkit-column-count: @columnCount;
	-moz-column-count: @columnCount;
	column-count: @columnCount;
	-webkit-column-gap: @columnGap;
	-moz-column-gap: @columnGap;
	column-gap: @columnGap;
}

// make any element resizable for prototyping
.resizable(@direction: both) {
	resize: @direction; // Options are horizontal, vertical, both
	overflow: auto; // Safari fix
}

// input placeholder text
.placeholder(@color: @grayLight) {
	:-moz-placeholder {
		color: @color;
	}
	::-webkit-input-placeholder {
		color: @color;
	}
}

// reset filters for IE
.reset-filter() {
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}




/*
 * Font shortcuts
 */
#font {
	.shorthand(@weight: normal, @size: 14px, @lineHeight: 20px) {
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
	.sans-serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
	.serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
		font-family: "Georgia", Times New Roman, Times, serif;
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
	.monospace(@weight: normal, @size: 12px, @lineHeight: 20px) {
		font-family: "Monaco", Courier New, monospace;
		font-size: @size;
		font-weight: @weight;
		line-height: @lineHeight;
	}
}




/*
 * Fills
 */
// opacity
.opacity(@opacity: 100) {
	filter: e(%("alpha(opacity=%d)", @opacity));
	-khtml-opacity: @opacity / 100;
	-moz-opacity: @opacity / 100;
	opacity: @opacity / 100;
}

// add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
	.background(@color: @white, @alpha: 1) {
		background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	}
	.border(@color: @white, @alpha: 1) {
		border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
		background-clip: padding-box;
	}
}

// gradient var colors for buttons and allerts
.gradientBar(@primaryColor, @secondaryColor) {
	#gradient > .vertical(@primaryColor, @secondaryColor);
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

// gradients
#gradient {
	.horizontal (@startColor: #555, @endColor: #333) {
		background-color: @endColor;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); // Konqueror
		background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
		background-image: -ms-linear-gradient(left, @startColor, @endColor); // IE10
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(left, @startColor, @endColor); // Le standard
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); // IE9 and down
	}
	.vertical (@startColor: #555, @endColor: #333) {
		background-color: @endColor;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); // Konqueror
		background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
		background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(top, @startColor, @endColor); // The standard
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
	}
	.directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
		background-color: @endColor;
		background-repeat: repeat-x;
		background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
		background-image: -ms-linear-gradient(@deg, @startColor, @endColor); // IE10
		background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(@deg, @startColor, @endColor); // The standard
	}
	.vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
		background-color: @endColor;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
		background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
		background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
		background-image: -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
		background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
		background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
	}
}

// bg shortcut
.bg(@color: #000) {
	background: @color;
}


// image decor
.passepartout(@padding: 2px, @bgcolor: @white, @bordercolor: @gray, @borderadius: 5px) {
	padding: @padding;
	.bg(@bgcolor);
	.border-radius(@borderadius);
	border: 1px solid @bordercolor;
}
