/*
 * Typo
 */
.n() {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}
.b() {
    font-weight: bold;
}
.i() {
    font-style: italic;
}
.u() {
    text-decoration: underline;
}
.capit() {
    text-transform: capitalize;
}
.upper() {
    text-transform: uppercase;
}
.lower() {
    text-transform: lowercase;
}
.align(@align: left) {
    text-align: @align;
}
.content-columns(@columnCount, @columnGap: 20px) {
    -webkit-column-count: @columnCount;
    -moz-column-count: @columnCount;
    column-count: @columnCount;
    -webkit-column-gap: @columnGap;
    -moz-column-gap: @columnGap;
    column-gap: @columnGap;
}


// font shortcuts
#font {
    .shorthand(@weight: normal, @size: 14px, @lineHeight: 20px) {
        font-size: @size;
        font-weight: @weight;
        line-height: @lineHeight;
    }
    .sans-serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: @size;
        font-weight: @weight;
        line-height: @lineHeight;
    }
    .serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
        font-family: "Georgia", Times New Roman, Times, serif;
        font-size: @size;
        font-weight: @weight;
        line-height: @lineHeight;
    }
    .monospace(@weight: normal, @size: 12px, @lineHeight: 20px) {
        font-family: "Monaco", Courier New, monospace;
        font-size: @size;
        font-weight: @weight;
        line-height: @lineHeight;
    }
}
